<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/auth/login"><input type="button" value="Login"></a>
<a href="/auth/signup"><input type="button" value="SignUp"></a>
<a href="/games"><input type="button" value="View Games"></a>