<form action="/games/create" method="post">
    <input type="text" name="name" placeholder="Game Name">
    <br>
    <input type="text" name="description" placeholder="Description of what's boutta go down">
    <br>
    <select name="category">
        <option value="basketball">Basketball</option>
        <option value="soccer">Soccer</option>
        <option value="baseball">BaseBall</option>
        <option value="football">FootBall</option>
        <option value="tennis">Tennis</option>
        <option value="other">Other</option>
    </select>
    <br>
    <label for="minPlayers">Min Players:</label>
    <input type="number" name="minPlayers">
    
    <label for="maxPlayers">Max Players:</label>
    <input type="number" name="maxPlayers">
    <br>
    <input type="text" name="location" placeholder="Location">    
    <br><br>
    <input type="time" name="time" value="12:00">
    <br>
    <input type="date" name="date">
    <br>

    <label for="equipment">Equipment needed (Separated by commas)</label>
    <input type="text" name="equipment" placeholder="Equipment needed separated by commmas">

    <br>
    <input type="radio" value="Private Game" name="private">Private
    <br>

    <input type="submit" value="Create Game!">

</form>